import React, { Component } from 'react';

export default class <%= props.name %> extends Component {
    return (
        <div>
            <h4><%= props.name %> is working!</h4>
        </div>
    );
}